.chart {
  flex: 5;
  -webkit-box-shadow: 3px 3px 18px 3px rgba(224, 213, 224, 0.64);
  -moz-box-shadow: 3px 3px 18px 3px rgba(224, 213, 224, 0.64);
  box-shadow: 3px 3px 18px 3px rgba(224, 213, 224, 0.64);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-left: 5px;
  .title {
    align-self: flex-start;
    padding: 10px;
    font-weight: bold;
    color: grey;
  }
}
